apps/myApps/mySketch/obj/
apps/myApps/mySketch/addons/ofxOpenCv/src/
apps/myApps/mySketch/addons/ofxGui/src/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

*.obj
*.tlog
*.log
*.pdb
*.obj
